entrypoint = "main.dart"
modules = ["dart-3.3", "dart-3.8"]

[nix]
channel="stable-24_05"

[deployment]
run = ["dart", "main.dart"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dart App"

[[workflows.workflow]]
name = "Dart App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dart run main.dart"

[workflows.workflow.metadata]
outputType = "console"
